
input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  

.contactSubmitBtnInput{
  border: 1px solid rgb(255, 255, 255) !important;
}

.contactSubmitBtnInput:hover{
  background-color: rgb(207, 13, 13) !important;

}

option[value]:hover{
  background-color:rgb(207, 13, 13) 
}